<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>
    <form action="/loginO" method="post">
        <table>
            <tr>
                <td>registerName:</td>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="upwd"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login in"></td>
            </tr>
        </table>
    </form>
</body>
</html>