<html lang="zh">
<table border="1px">
<tr>
	<td>用户名</td>
	<td>{{dict0.用户名}}</td>
</tr>
<tr>
	<td>注册时间</td>
	<td>{{dict0.注册时间}}</td>
</tr>
<tr>
	<td>国家</td>
	<td>{{dict0.国家}}</td>
</tr>
<tr>
	<td>等级</td>
	<td>{{dict0.等级}}</td>
</tr>
<tr>
	<td>pp积分</td>
	<td>{{dict0.pp}}</td>
</tr>
<tr>
	<td>ranked总分</td>
	<td>{{dict0.rank分}}</td>
</tr>
<tr>
	<td>ACC准确率</td>
	<td>{{dict0.ACC}}%</td>
</tr>
<tr>
	<td>PC游戏次数</td>
	<td>{{dict0.pc}}</td>
</tr>
<tr>
	<td>ss:{{dict0.ss}}</td>
	<td>ssh:{{dict0.ssh}}</td>
</tr>
<tr>
	<td>s:{{dict0.s}}</td>
	<td>sh:{{dict0.sh}}</td>
</tr>
<tr>
	<td colspan="2">a:{{dict0.a}}</td>

</tr>
<tr>
	<td>全球排名</td>
	<td>{{dict0.全球}}</td>
</tr>
<tr>
	<td>国内排名</td>
	<td>{{dict0.国内}}</td>
</tr>
</table>